<div class="modal fade" id="myModal" role="dialog">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-body">
        
        <img src="../public/image/2.jpg" id="img_page" name="img_page" width="100%" height="300">
        <div class="row" align="left" style="padding: 4%;" >
          <h1 id="title">ประกันใกล้่ตัว</h1>
          <span class="glyphicon glyphicon-star" style="color: #FFD355;" id="recomment" name="recomment"> recomment</span>
          <span style="color: lightgray;font-size: 10px;margin-left: 2%;" id="date_create" name="date_create"> </span>
          <span style="color:darkred;font-size: 10px;margin-left: 2%;" id="public" name="public">ยังไม่ได้เปิดสาธารณะ</span>
          <span style="color:darkred;font-size: 10px;margin-left: 2%;" id="type" name="type"></span>

          <hr>
          <h3 id="head_name" style="margin-top: 2%;font-weight: bold;"> </h3>
          <div id="sentence" name="sentence">        

          </div>
          <input type="text" id="id" name="id" hidden>
      </div>
    </div>
      <div class="modal-footer">
      
        <button type="button" class="btn btn-default" data-dismiss="modal">CLOSE</button>
      </div>
    </div>
  </div>
</div>

